
body{
    background-color: tomato;
    padding: 20px;
    font-size: 20px;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid greenyellow;
}
.block{
    padding: 20px;
    border: 1px solid whitesmoke;
}

.red{
    background-color: tomato;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.black{
    background-color: black;
}

.orange{
    background-color: orange;
}


/* grid */
.d-grid{
    display: grid;
}
.task1{
    grid-template-columns: 70% 30%;
}

.task2 {
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 300px;
}

.task3 {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

/* .homework{
    grid-template-columns: auto;
} */